@model appRegistroCivil.Models.Persona

@{
    ViewBag.Title = "Create";
}

@section styles{
    <style>

        input[type="file"] {
            display: none;
        }

        .custom-ImagePath {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }
    </style>
}
@section scripts
{
    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgFunc')
                        .attr('src', e.target.result)
                        .height(75);
                };
                reader.readAsDataURL(input.files[0]);

            }
        }
        function readURLAud(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#audFunc')
                        .attr('src', e.target.result)
                        .height(75);
                };
                reader.readAsDataURL(input.files[0]);

            }
        }
    </script>
}

<h2>Create</h2>

@using (Html.BeginForm("CreatePais", "Personas", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pais</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Nombre Pais", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("nbrPais", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Area", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("area", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Poblacion Actual", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("poblacionActual", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Foto de Bandera", htmlAttributes: new { @class = "control-label col-md-2" })
            <img class="noStretch" id="imgFunc" src="data:image;base64,@System.Convert.ToBase64String(ViewBag.fotoBandera)" width="80" height="80" />
            <label for="ImagePath" class="custom-ImagePath">
                <i class="fa fa-cloud-upload"></i> Seleccionar Imagen
            </label>
            <input id="ImagePath" type="file" name="file" onchange="readURL(this);" style="display:none;" accept=".jpg, .jpeg, .png" />
        </div>

        <div class="form-group">
            @Html.Label("Himno Nacional", "himnoNacional", htmlAttributes: new { @class = "control-label col-md-2" })
            <audio id="audFunc" controls>
                <source src="@Url.Content("~/Resources/default.mp3")" type="audio/mp3">
                Your browser does not support the video tag.
            </audio>
            <label for="AudioPath" class="custom-ImagePath">
                <i class="fa fa-cloud-upload"></i> Seleccionar Himno
            </label>
            <input id="AudioPath" type="file" name="fileAud" onchange="readURLAud(this);" style="display:none;" accept=".mp3" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
