@model appRegistroCivil.Models.Persona

@{
    ViewBag.Title = "Create";
}


@section styles{
    <style>

        input[type="file"] {
            display: none;
        }

        .custom-ImagePath {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }
    </style>
}
@section scripts
{
    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgFunc')
                        .attr('src', e.target.result)
                        .height(75);
                };
                reader.readAsDataURL(input.files[0]);

            }
        }
        function readURLVid(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#vidFunc')
                        .attr('src', e.target.result)
                        .height(75);
                };
                reader.readAsDataURL(input.files[0]);

            }
        }
    </script>
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Personas", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Persona</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.nbrPersona, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nbrPersona, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nbrPersona, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idPaisNacimiento, "idPaisNacimiento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idPaisNacimiento", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idPaisNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idPaisResidencia, "idPaisResidencia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idPaisResidencia", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idPaisResidencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fchNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fchNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fchNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.foto, "foto", htmlAttributes: new { @class = "control-label col-md-2" })
            <img id="imgFunc" src="data:image;base64,@System.Convert.ToBase64String(ViewBag.foto)" width="80" height="80" />
            <label for="ImagePath" class="custom-ImagePath">
                <i class="fa fa-cloud-upload"></i> Seleccionar Imagen
            </label>
            <input id="ImagePath" type="file" name="file" onchange="readURL(this);" style="display:none;" accept=".jpg, .jpeg, .png" />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.videoEntrevista, "videoEntrevista", htmlAttributes: new { @class = "control-label col-md-2" })
            <video id="vidFunc" controls>
                <source src="data:image;base64,@System.Convert.ToBase64String(ViewBag.videoEntrevista)" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <label for="VideoPath" class="custom-ImagePath">
                <i class="fa fa-cloud-upload"></i> Seleccionar Video
            </label>
            <input id="VideoPath" type="file" name="fileVid" onchange="readURLVid(this);" style="display:none;" accept=".mp4" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
