@model appRegistroCivil.Models.Persona

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Desea eliminar esto?</h3>
<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbrPersona)
        </dd>

        <dt>
            Fecha de Nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fchNacimiento)
        </dd>

        <dt>
            Correo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            Imagen de perfil
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagenes.descripcion)
        </dd>

        <dt>
            Nombre del Pais de Nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais.nbrPais)
        </dd>

        <dt>
            Nombre del Pais de residencia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais1.nbrPais)
        </dd>

        <dt>
            Video Entrevista
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Videos.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
