@model appRegistroCivil.Models.Persona

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Foto")
        </dt>

        <dd>
            <img class="noStretch" src="data:image;base64,@System.Convert.ToBase64String(Model.Imagenes.info_bytes)" width="70" height="70" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nbrPersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbrPersona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fchNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fchNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais.nbrPais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais.nbrPais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais1.nbrPais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais1.nbrPais)
        </dd>

        <dt>
            @Html.DisplayName("Video de Entrevista")
        </dt>
        <dd>
            <video controls>
                <source src="data:image;base64,@System.Convert.ToBase64String(ViewBag.video)" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.idPersona, id2=Model.idPaisResidencia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
