@model appRegistroCivil.Models.Pais

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pais</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Pais
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbrPais)
        </dd>

        <dt>
            Area total
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        <dt>
            Poblacion Actual
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poblacionActual)
        </dd>

        <dt>
            Presidente Actual
        </dt>

        <dd>
            @Html.DisplayName(Model.Persona2.nbrPersona)
        </dd>

        <dt>
            Himno
        </dt>

        <dd>
            <audio controls>
                <source src="data:image;base64,@System.Convert.ToBase64String(ViewBag.himno)" type="audio/mp3" />
            </audio>
        </dd>

        <dt>
            Foto
        </dt>

        <dd>
            <img src="data:image;base64,@System.Convert.ToBase64String(ViewBag.foto)" width="50" height="50" />
        </dd>
        <dt>
            Himno
        </dt>

        <dd>
            <audio controls>
                <source src="data:image;base64,@System.Convert.ToBase64String(ViewBag.himno)" type="audio/mp3">
                Your browser does not support the video tag.
            </audio>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditPais", new { id = Model.idPais }) |
    @Html.ActionLink("Back to List", "Index")
</p>
