@model IEnumerable<appRegistroCivil.Models.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "CreatePais") | <input type="button" value="Confirmar Cambios" onclick="location.href='@Url.Action("ReloadTable", "Personas")'"/> | <input type="button" value="Revertir Cambios" onclick="location.href='@Url.Action("CancelTransaction", "Personas")'" />
</p>

<div style="height: 100px; overflow: auto;">
    <table class="table">
        <tr>
            <th>
                Nombre de Pais
            </th>
            <th>
                Area
            </th>
            <th>
                Poblacion Actual
            </th>
            <th>
                Presidente Actual
            </th>
            <th>
                Bandera
            </th>
            <th>
                Himno
            </th>
        </tr>

        <tr>
            <td>
                @ViewBag.nombrePais
            </td>
            <td>
                @ViewBag.area
            </td>
            <td>
                @ViewBag.poblacion
            </td>
            <td>
                @ViewBag.nombrePresi
            </td>
            <td>
                <img src="data:image;base64,@System.Convert.ToBase64String(ViewBag.foto)" width="50" height="50" />
            </td>
            <td>
                <audio controls>
                    <source src="data:image;base64,@System.Convert.ToBase64String(ViewBag.himno)" type="audio/mp3" />
                </audio>
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPais", new { id = ViewBag.idPais }) |
                @Html.ActionLink("Details", "DetailsPais", new { id = ViewBag.idPais }) |
                @Html.ActionLink("Delete", "DeletePais", new { id = ViewBag.idPais })
            </td>
        </tr>
    </table>
</div>
<ul class="pagination">
    <li><span>Pagina Actual: @ViewBag.idPais</span></li>
    <li> @Html.ActionLink("Primero", "PaisIndex", new { id = 1 }) </li>
    <li> @Html.ActionLink("Anterior", "PaisIndex", new { id = ViewBag.idPais - 1 }) </li>
    <li> @Html.ActionLink("pag. 50", "PaisIndex", new { id = 50 }) </li>
    <li>@Html.ActionLink("Siguiente", "PaisIndex", new { id = (ViewBag.idPais < ViewBag.totalPaises) ? (ViewBag.idPais + 1) : 1 }) </li>
    <li>@Html.ActionLink("Ultimo", "PaisIndex", new { id = @ViewBag.totalPaises }) </li>
</ul>


<div id="ListaPersonas">
    @Html.Partial("personPartial", Model)
</div>
