@model IEnumerable<appRegistroCivil.Models.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="height: 100px; overflow: auto;">
    <table class="table">
        <tr>
            <th>
                Nombre de Pais
            </th>
            <th>
                Area
            </th>
            <th>
                Poblacion Actual
            </th>
            <th>
                Id Presidente Actual
            </th>
            <th>
                Audios
            </th>
            <th>
                Imagenes
            </th>
            <th></th>
        </tr>

            <tr>
                <td>
                    @ViewBag.nombrePais
                </td>
                <td>
                    @ViewBag.area
                </td>
                <td>
                    @ViewBag.pobActual
                </td>
                <td>
                    @ViewBag.idPresi
                </td>
                <td>
                    @ViewBag.audios
                </td>
                <td>
                    @ViewBag.foto
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    </table>
</div>

<div id="ListaPersonas">
    @Html.Partial("personPartial", Model)
</div>
