@model IEnumerable<appRegistroCivil.Models.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Create Video", "CreateVideo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nbrPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idPaisNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idPaisResidencia)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nbrPersona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idPersona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idPaisNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idPaisResidencia)
        </td>
    </tr>
    }

</table>
