@model appRegistroCivil.Models.PaisController.PagedData<appRegistroCivil.Models.Pais>

<script type="text/javascript">
    $().ready(function () {
        $(".page-number").click(function() {

            var page = parseInt($(this).html());

            $.ajax({
                url: '@Url.Action("PaisList")',
                data: { "page": page },
                success: function (data) {
                    $("#person-list").html(data);
                }
            });
        });
    });
</script>

<table>
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Poblacion
            </th>
            <th>
                Id Presidente
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pais in Model.Data)
        {
            <tr>
                <td>
                    @pais.nbrPais
                </td>
                <td>
                    @pais.poblacionActual
                </td>
                <td>
                    @pais.idPresidenteActual
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                @for (int i = 1; i <= Model.NumberOfPages; i++)
                {
                    <a class="page-number" href="javascript:void();">@i</a>
                }
            </td>
        </tr>
    </tfoot>
</table>

<script type="text/javascript">
    $().ready(function () {
        $(".page-number").click(function() {

            var page = parseInt($(this).html());

            $.ajax({
                url: '@Url.Action("PaisList")',
                data: { "page": page },
                success: function (data) {
                    $("#person-list").html(data);
                }
            });
        });
    });
</script>